.header{
    background-color: rgb(20, 20, 20);
    height: 150px;
   
  }
  
  
    .logo{
      width: 500px;
      margin-top: 11%;
  }
  

  
  
  img.p{
    margin-left: 0%;
    padding: 0px 80px 15px 20px;
    margin-top: 12%;
  }
  
  
  
  
  .pesquisar{
    margin-top: -2%;
  }
  
  
  .menu{
    background-color: rgb(0, 0, 0);
   
  }
  
  .espaço{
      height: 100px;
  }
  .rodape{
background-color: rgb(0, 0, 0);
height: 200px;
width: 101%;
position: bottom;
}

.col-2.v{
font-size: 120%;
color: white;
font-weight: 600;
}

.col-2.b{

color:rgb(110, 110, 110);
}
img.v{
padding: 3px 5px 0px 5px;
width: 35px;
}
.dropdown-divider.c{
color: red;
position: relative;
}

.remenber{
padding: 0px 40px;


}

.register{
padding: 0px 52px; 
}